<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class=" bg-gray-200 flex flex-col min-h-screen">
    
    <!--Navbar-->
    <nav class="bg-black p-2 text-white flex justify-between items-center">
        <div>
           <a href="/"> <h1 class="font-bold italic text-3xl transition-transform transform hover:scale-105">Ai Blog Generator</h1></a>
        </div>
        <div class="flex items-center pr-40 space-x-6 justify-center">
            <a href="/"><h2 class="transition-transform transform hover:scale-105 flex flex-col">Home</h2></a>
            <span>  </span> 
            <a href="contact-us"><h2 class="transition-transform transform hover:scale-105 flex flex-col">Contact us</h2></a>
        </div>
    
        <div class="flex items-center space-x-2">  
            {% if request.user.is_authenticated %}
            <h2>Welcome, {{user.username}}</h2>
            <a href="blog-list" class="text-white hover:underline transition-transform transform hover:scale-105 flex flex-row">All blogs</a>
            <span>|</span>
            <a href="logout" class="text-white hover:underline transition-transform transform hover:scale-105 flex flex-col">Logout</a>
            {% else %}
            <a href="login" class="text-white hover:underline transition-transform transform hover:scale-105 flex flex-col">Login</a>
            <a href="signup" class="text-white hover:underline transition-transform transform hover:scale-105 flex flex-col">Signup</a>
            {% endif %}
        </div>
    
    </nav>
<!-- Main content -->

 <div class=" bg-gradient-to-l from-blue-500 to-white-500 flex items-center justify-center flex-grow " >
    <div class="bg-gradient-to-r from-blue-500 to-white-500 shadow-md p-10 rounded-lg max-w-md w-full" >
        <!-- Signup form -->
        <form action="" class="grid grid-cols-2 gap-4" method="POST">
            {% csrf_token %}
        
            {% if error_message %}
            <div class="col-span-2 text-center text-red-500">
                <h2>{{error_message}}</h2>
            </div>
            {% endif %}
        
            <h2 class="col-span-2 text-xl font-semibold">Signup</h2>
        
            <div>
                <label for="username" class="block mb-1 font-medium">Username</label>
                <input type="text" name="username" id="username" placeholder="Create your username..."
                    class="w-full p-2 border border-blue-400 rounded-lg">
            </div>
        
            <div>
                <label for="first_name" class="block mb-1 font-medium">First name</label>
                <input type="text" name="first_name" id="first_name" placeholder="Write your first name..."
                    class="w-full p-2 border border-blue-400 rounded-lg">
            </div>
        
            <div>
                <label for="last_name" class="block mb-1 font-medium">Last name</label>
                <input type="text" name="last_name" id="last_name" placeholder="Write your last name..."
                    class="w-full p-2 border border-blue-400 rounded-lg">
            </div>
        
            <div>
                <label for="email" class="block mb-1 font-medium">Email</label>
                <input type="email" name="email" id="email" placeholder="Enter your e-mail..."
                    class="w-full p-2 border border-blue-400 rounded-lg">
            </div>
        
            <div>
                <label for="password" class="block mb-1 font-medium">Password</label>
                <input type="password" name="password" id="password" placeholder="Type your password..."
                    class="w-full p-2 border border-blue-400 rounded-lg">
            </div>
        
            <div>
                <label for="passwordagain" class="block mb-1 font-medium">Repeat password</label>
                <input type="password" name="passwordagain" id="passwordagain" placeholder="Type your password again..."
                    class="w-full p-2 border border-blue-400 rounded-lg">
            </div>
        
            <!-- Full width submit button -->
            <button type="submit"
                class="col-span-2 p-2 w-full text-xl bg-blue-600 border border-blue-900 rounded-lg hover:bg-blue-700 transition">
                Signup
            </button>
        </form>
        

    </div>
 </div>

<footer class="text-xl font-semibold mb-1 text-gray-700">
    Created by <a href="https://www.linkedin.com/in/rohitkpsingh">Rohit Singh</a>
</footer>
</body>
</html>